<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_FileTransfer" />
                <binding name="SearchRowBinding_ISearchRowService" />
                <binding name="NetTcpBinding_IFileTransferService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/FileTransfer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_FileTransfer" contract="WcfServiceLibrary.Contracts.IFileTransferService"
                name="NetTcpBinding_FileTransfer">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8734/SearchRow" binding="netTcpBinding"
                bindingConfiguration="" contract="WcfServiceLibrary.Contracts.ISearchRowService"
                name="NetTcpBinding_SearchRow" />
            <endpoint address="net.tcp://localhost:8734/SearchRow" binding="netTcpBinding"
                bindingConfiguration="SearchRowBinding_ISearchRowService"
                contract="SearchRowServiceReference.ISearchRowService" name="SearchRowBinding_ISearchRowService">
                <identity>
                    <userPrincipalName value="BS-ПК\BS" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8733/FileTransfer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileTransferService"
                contract="FileTransferServiceReference.IFileTransferService"
                name="NetTcpBinding_IFileTransferService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>